
.jumbotron {
  text-align: center;
  background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.javascript-hide {
  display: none;
}
/* 
.javascript-card {
  display: none;
} */

.hide-card1 {
  display: none;
}

.card {
  height: auto;
  padding: 10px;
  box-shadow: 6px 6px 21px -3px rgba(0,0,0,0.75);
  background-image:url(https://publicdomainvectors.org/photos/1284769373.png);
  text-size-adjust: 13px;
}